.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7%;
  background-color: #fff5ec;
}
.header {
  font-size: 30px;
  font-weight: 700;
  color: #f2994a;
}
.counter {
  font-size: 30px;
  font-weight: 700;
  color: #f2994a;
}
.counter__btns {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30%;
}
.counter__btns__increment,
.counter__btns__decrement {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4% 7%;
  cursor: pointer;
  background: #f2994a;
  border-radius: 12px;
  box-shadow: 0 0 20px rgb(250, 246, 244);
}
